
body {
    background-color: white;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 10000;
    box-sizing: border-box;
}

header img {
    position: relative;
    right: 70px;
}

header.sticky {
    padding: 10px 100px;
    background: #34495e;
    box-sizing: border-box;
    border: 2px black solid;
}

header a.logo {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 1.25em;
    letter-spacing: 2px;
    transition: 0.6s;
    right: 65px;
}
    
header ul{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
}
    
header ul li {
    position: relative;
    list-style: none;
}
    
header ul li a {
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 500px;
    transition: 0.6s;
}

header ul li a:hover {
    background-color: #1abc9c;
}

.banner {
    position: relative;
    width: 100%;
    height: 80vh;
    background-image: url(../Images/coronavirus.png);
    background-size: cover;
}

h1 {
    margin: 0;
}

main {
    box-sizing: border-box;
    border: 2px solid black;
    background-color: powderblue;
    border-top: none;
}

.flex-main {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.flex-main img {
    align-self: center;
}

.intro-article {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 100px;
    width: 50%;
}

.tab2-article {
    margin: auto;
    width: 50%;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
}

.news {
    margin: auto;
    width: 50%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

aside img {
    padding: 30px 0 30px 0;
}

.variants {
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 30px 0 30px 0;
}

footer {
    box-sizing: border-box;
    border: 2px solid black;
    border-top: none;
    background-color: #34495e;
    color: white;
    text-align: center;
}

.footer-top {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.fb-link {
    text-align: center;
    text-decoration: underline;
}

.fb-link:hover {
    text-decoration: none;
} 

.footer-top div {
    box-sizing: border-box;
    width: 25%;
}

.references a {
    text-align: center;
    color: white;
    text-decoration: underline;

}

.socials p a {
    text-align: center;
    color: white;
    position: relative;
    bottom: 25px;
}

.socials img {
    position: relative;
    right: 10px;
    top: 15px;
}

@media screen and (max-width: 600px) {
    .flex-main img {
        width: 200px;
        height: auto;
    }
}